$main-color: #95c8db;
$second-color: #95c8db76;
$hover-color: #0d95d1;
$opacity-color: #62b7d68f;
$light-color: #ffffff;
$modal-color: #00000066;
$placeholder-color: #7d7d7df4;
$border-color: #d1d1d1ce;
$colorful-color: #e50000;
